* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-image: linear-gradient(#f3ddff, #c1c0c2 100%);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quiz-container {
  background-color: #fff;
  color: #000;
  width: 400px;
  max-width: 100%;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 10px 5px #00000050;
}

h2 {
  text-align: center;
  margin-bottom: 1rem;
}

ul {
  list-style: none;
  margin: 1rem 0;
}

ul li {
  margin: 0.8rem 0;
  font-size: 1.1rem;
  font-weight: bold;
}

button {
  background-color: #c842c8;
  color: white;
  border: none;
  width: 100%;
  padding: 1rem;
  cursor: pointer;
  border-radius: 8px;
  font-size: 1rem;
}

button:hover {
  background-color: #9b32a0;
}
