:root {
  --Neutral-900: hsl(243, 96%, 9%);
  --Neutral-800: hsl(243, 27%, 20%);
  --neutral-700: hsl(243, 23%, 24%);
  --neutral-600: hsl(243, 23%, 30%);
  --neutral-300: hsl(240, 6%, 70%);
  --neutral-200: hsl(250, 6%, 84%);
  --neutral-0: hsl(0, 0%, 100%);
  --orange-500: hsl(28, 100%, 52%);
  --Blue-500: hsl(233, 67%, 56%);
  --Blue-700: hsl(248, 70%, 36%);
  --Font-size: 18px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--Neutral-900);
  font-family: sans-serif;
  font-size: var(--Font-size);
  color: var(--neutral-200);
}

nav {
  padding: 10px 20px;
  margin: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.units {
  background-color: var(--neutral-700);
  padding: 7px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px var(--neutral-600);
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.heading {
  color: var(--neutral-0);
  font-size: 30px;
  text-align: center;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5rem 0;
  gap: 1rem;
}

.search_input {
  margin: 1rem 0;
  display: flex;
  width: 400px;
  height: 45px;
  background-color: var(--neutral-700);
  gap: 10px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.search_icon {
  margin-left: 1rem;
}

.search_input input {
  border: none;
  background: inherit;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  outline: none;
}

.search_input input::placeholder {
  font-size: 18px;
  color: var(--neutral-0);
}
